body{ font-family: 'Libre Baskerville', serif;
}
section{
height:500px;
background-color:rgb(230, 234, 236); 
border:solid black 0.5px; 
}
.hero{
    background-color: rgb(100, 145, 204);
    height:500px;
    color:whitesmoke;
    font-size:30px;
}
footer{
    /* background-color:black; */
    text-align: center;
    padding: 80px; 
    color: white;
}
nav{
    display: flex;
    margin-bottom: 60px ;
    justify-content:space-between;
}
ul{
    display:flex;
    list-style-type: none;  
}
li{ 
    width:300px;
    text-decoration: none;
}
hi{
    font-size:90px;
    margin: 0;
}
p{
    margin:0;
    font-size: 22px;
    font-weight: 200;
}
.subtext{
    font-size: 15px;
    font-weight: 300px;
}
.hero-area{
    display:flex;
    height:100px;
    justify-content:space-between;
    align-items: center;
}
.hero-text{
    margin-left: 70px;
    margin-bottom: 100px;       
} 
.button{
    width: 200px;
    height: 40px; 
    border-radius: 35px;
    background-color: rgb(117, 116, 66);
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
    margin-top: 20px;
}
.button.hover{
    background-color: chartreuse;
}
.button:active{
    background-color: coral;
    color: rgb(47, 110, 38);   
}
.socials{
    margin:50px;
}
.subsection{
    display:flex;
    padding:80px;
    justify-content: space-around;
}
.other-section{
    display: flex;
    flex-direction:column;
    text-align:center;
    padding: 50px;
}
.Headshot{
    width:300px;

   }
.headshot-container{
    display:flex;
    align-items: center;
   }
.project-card{
    width: 200px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(43, 8, 8);
    margin: 10px;  
   }
.project-container{
    display:flex;
    justify-content: space-around; 
}
/* @media only screen and(max-width: 1000px) { */
/* .project-container{ */
    /* display:flax; */
    /* flex-wrap: wrap;} */
    
/* .project-image{ */
/* width:250px; */
/* border-radius: 125px; */
/* margin-top: 25px; */
/* } */
hr{
    margin-left: 20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}